---
layout: default
---

<div class="row">
  <div class="col s12">
    <p>
      We are an interdisciplinary research group at the School of Chemical Engineering, University of Birmingham and are part of the Institute of Translational Medicine (ITM), closely working with the clinical teams at the Queen Elizabeth Hospital (QEHB) and Alta Innovation, the UoB technology transfer specialists.  Our research programme is targeted at exploring the frontiers of micro to nanomaterials engineering while bridging the gap between nano-to-macroscopic-level understanding and implementations of novel hybrid and nanocomposite materials and submicron structures for miniaturised functional devices.
  </p>
</div>
</div>
<div class="row">
    <div class="col s12 m8">
        <div class="row highlights">
            <div class="col s12 m6 l6">
                {% include highlight.html
                    image="/img/article-cover_fwoxpo.jpg"
                    title="Not Your Average Photography Contest"
                    link="http://dailymail.co.uk/sciencetech/article-2218120/Cambridge-photography-competition-University-reveals-engineering-snaps.html"
                    description="They look like paintings in a gallery but in fact these stunning photos show life-saving research in action."
                %}
            </div>
            <div class="col s12 m6 l6">
                {% include highlight.html
                    image="/img/blood-test_dwlkjg.png"
                    title="Developing Breakthrough Blood Tests"
                    link="http://www.bbc.co.uk/news/uk-england-birmingham-36915948"
                    description="BBC news interview talking about a breakthrough blood test for serious brain injuries."
                %}
            </div>
            <div class="col s12 m6 l6">
                {% include highlight.html
                    image="/img/poc-diagnostics_gt5kdq.png"
                    title="Point-of-Care Diagnostics"
                    link="http://www.birmingham.ac.uk/schools/chemical-engineering/news/fellowship-awarded-to-develop-next-generation-healthcare-diagnostics.aspx"
                    description="Five year Royal Academy of Engineering (RAEng) Fellowship developing technologies for the next generation of point-of-care diagnostics devices."
                %}
            </div>
            <div class="col s12 m6 l6">
                {% include highlight.html
                    image="/img/soapbox_y9oigx.png"
                    title="Nanomaterials: No Small Matter"
                    link="http://www.birmingham.ac.uk/university/colleges/eps/news/college/Nanotechnology-no-small-matter.aspx"
                    description="2014 Soapbox Science event at London’s Southbank. Here Pola talks about the importance of her research and her passion for science as a career."
                %}
            </div>
            <div class="col s12 m6 l6">
                {% include highlight.html
                    image="/img/face-outline_oomop6.jpg"
                    title="Female Faces"
                    link="http://www.birmingham.ac.uk/university/colleges/eps/Female-faces-of-engineering.aspx"
                    description="Female faces of engineering and physical sciences: celebrating Birmingham’s success."
                %}
            </div>
            <div class="col s12 m6 l6">
                {% include highlight.html
                    image="/img/soapbox_vboowr.jpg"
                    title="Soapbox Science"
                    link="http://soapboxscience.org/soapboxscience-2014-london/"
                    description="In 2014, London’s Southbank was transformed again into a hub of scientific learning and discussion."
                %}
            </div>
        </div>
    </div>
    <div class="col s12 m4">
        <a data-chrome="nofooter noborders transparent" data-height="900" data-link-color="#19CF86" data-partner="tweetdeck" href="https://twitter.com/ANMSAgroup/timelines/914889503457857538?ref_src=twsrc%5Etfw">News - Curated tweets by ANMSAgroup</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
</div>