<div class="col m6 s12">
  <h4 class="hide-on-small-only" style="font-weight:900">ADVANCED </h4>
  <h4 class="hide-on-small-only" style="font-weight:900">NANO-MATERIALS</h4>
  <h4 class="hide-on-small-only" style="font-weight:900">STRUCTURES AND</h4>
  <h4 class="hide-on-small-only" style="font-weight:900">APPLICATIONS</h4>
</div>

<div class="col m6 s12 right-align hide-on-small-only">
    <section>
        <img src="/img/logo.png" width="350px" style="margin-right:-40px">
    </section>
    <section class="right-align">
        <i>"Somewhere, something incredible is waiting to be known. - C. Sagan"</i>
    </section>
</div>

<div class="col m6 s12 center-align hide-on-med-and-up">
    <section>
        <img class="hide-on-med-and-up center-align" src="/img/logo.png" width="350px">
    </section>
    <section class="right-align">
        <i>"Somewhere, something incredible is waiting to be known. - C. Sagan"</i>
    </section>
</div>