{% assign current = page.url | downcase | split: '/' %}

<ul id="slide-out" class="side-nav fixed">
  <li class="{% if page.title contains 'Home' %}active{% endif %}"><a href="/" class="nav-home">Home</a></li>
  <li class="{% if page.title contains 'Research' %}active{% endif %}"><a href="/research" class="nav-home">Research</a></li>
  <li class="{% if page.title contains 'People' %}active{% endif %}"><a href="/people" class="nav-home">People</a></li>
  <li class="{% if page.title contains 'Publications' %}active{% endif %}"><a href="/publications" class="nav-home">Publications</a></li>
  <li class="{% if page.title contains 'Facilities' %}active{% endif %}"><a href="/facilities" class="nav-home">Facilities</a></li>
  <li class="{% if page.title contains 'Contact' %}active{% endif %}"><a href="/contact" class="nav-home">Contact</a></li>
  <li class="{% if page.title contains 'Gallery' %}active{% endif %}"><a href="/gallery" class="nav-home">Gallery</a></li>
</ul>
<a href="#" data-activates="slide-out" class="button-collapse" style="color:#212121;"><i class="material-icons" style="font-size:32px">menu</i></a>